body{
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bolder;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
   padding: 7px 25px;
   font-size: 15px;
   margin: 0px 20px;
   color: black;
   cursor: pointer;
   
    }
    #start{
        background-color: yellow;
    }
    #stop{
        background-color: blue;
    }
    #reset{
        background-color: red;
    }

